.btn{
    width: fit-content;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    background: #CD71AF;
    color: white;
    margin: 3px;
}
.user-container{
    color: white;
    font-size: large;
    width: 400px;
    text-align: center;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    margin-bottom: 5px;
    border-radius: 20px;
    padding:1px;

}
.user-list{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 150px;
}
.page-display{
    text-align: center;
}